@font-face {
  font-family: "Social Logos";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/Social Logos.ttf") format("ttf"),
       url("../fonts/Social Logos.woff") format("woff");
}

