@font-face {
  font-family: "Social Logos";
  src: url("../fonts/SocialLogos.eot") format("embedded-opentype"), url("../fonts/SocialLogos.woff2") format("woff2"), url("../fonts/SocialLogos.woff") format("woff"), url("../fonts/SocialLogos.ttf") format("truetype"), url("../fonts/SocialLogos.svg#SocialLogos") format("svg");
}

section .under-heading-text, .our-team .base-info .position {
  font-size: 16px;
  line-height: 20px;
}

.introducion p, .navigation, .our-team .base-info .name {
  font-size: 18px;
  line-height: 20px;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font: 14px/30px 'Open Sans', sans-serif;
  color: #000;
}

/* Header */
header {
  text-align: center;
}

.introducion {
  background: url(../images/top-bg-shadow.jpg) no-repeat center;
  color: #f1f2f1;
  padding: 440px 0 270px;
}

.introducion .welcome {
  font: 108px/108px 'Signika', sans-serif;
  margin-bottom: 90px;
}

.introducion h4 {
  font: 700 48px/48px 'Signika', sans-serif;
  margin-bottom: 20px;
}

.introducion p {
  font-family: 'Signika', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}

.top-nav {
  background: #00a388;
  padding: 25px 0;
}

.navigation {
  font-family: 'Signika', sans-serif;
}

.navigation li {
  list-style: none;
  display: inline-block;
  padding: 0 20px;
  position: relative;
}

.navigation li:first-child {
  padding-left: 0;
}

.navigation li:last-child {
  padding-right: 0;
}

.navigation li::after {
  position: absolute;
  content: "//";
  right: -10px;
  color: #f1f2f1;
}

.navigation li:last-child::after {
  content: none;
}

.navigation a {
  text-decoration: none;
  text-transform: uppercase;
  color: #f1f2f1;
  transition: .3s ease-in-out;
  -webkit-transition: .3s ease-in-out;
  -moz-transition: .3s ease-in-out;
  -ms-transition: .3s ease-in-out;
  -o-transition: .3s ease-in-out;
}

.navigation a:hover {
  opacity: .8;
}

/* Main Content */
.container {
  padding: 0 13%;
}

section .section-heading {
  font-family: "Signika", sans-serif;
  font-size: 48px;
  font-weight: 600;
  color: #140e1d;
  line-height: 1;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 55px;
  position: relative;
}

section .section-heading::after {
  content: "...";
  position: absolute;
  left: 48.5%;
  top: 30px;
}

section .under-heading-text {
  font-family: "Signika", sans-serif;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 50px;
}

.about,
.portfolio {
  background: #ecfffc;
}

/* -- About-block --*/
.about {
  padding-top: 90px;
  padding-bottom: 90px;
}

.about-info {
  padding: 0 20px;
  margin-bottom: 100px;
}

.about-info p {
  -webkit-column-count: 2;
          column-count: 2;
  -webkit-column-gap: 110px;
          column-gap: 110px;
  -webkit-column-fill: balance;
          column-fill: balance;
  text-align: justify;
  letter-spacing: .5px;
}

.our-team {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.our-team .member {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 270px;
          flex: 0 1 270px;
}

.our-team .member img {
  vertical-align: middle;
  max-width: 100%;
}

.our-team .base-info {
  text-align: center;
  padding: 10px 0;
  font-family: "Signika", sans-serif;
  background: #00a388;
}

.our-team .base-info .name {
  text-transform: uppercase;
  margin-bottom: 20px;
  position: relative;
  display: inline-block;
}

.our-team .base-info .name::before, .our-team .base-info .name::after {
  position: absolute;
  content: "//";
}

.our-team .base-info .name::before {
  left: -28px;
}

.our-team .base-info .name::after {
  right: -28px;
}

.our-team .more-info {
  font-size: 12px;
  line-height: 21px;
  color: #fff;
  background: #00a388;
  padding: 10px 20px 20px;
  text-align: justify;
}

.our-team .more-info .logos {
  font-family: "Social Logos";
  text-align: center;
  font-size: 36px;
  line-height: 21px;
  margin-top: 30px;
}

.our-team .more-info .logos a {
  color: #fff;
  text-decoration: none;
  transition: .3s ease-in-out;
  -webkit-transition: .3s ease-in-out;
  -moz-transition: .3s ease-in-out;
  -ms-transition: .3s ease-in-out;
  -o-transition: .3s ease-in-out;
}

/* -- Portfolio -- */
.navigation.section-nav {
  text-align: center;
}

.navigation.section-nav li::after {
  color: #000;
}

.navigation.section-nav a {
  color: #000;
}

.gallery {
  padding-top: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.gallery .portfolio-item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 25%;
          flex: 0 1 25%;
}

.portfolio-item {
  position: relative;
  transition: .3s ease-in-out;
  -webkit-transition: .3s ease-in-out;
  -moz-transition: .3s ease-in-out;
  -ms-transition: .3s ease-in-out;
  -o-transition: .3s ease-in-out;
}

.portfolio-item img {
  vertical-align: middle;
  max-width: 100%;
  height: auto;
}

.portfolio-item .category-wrap {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  background: rgba(0, 163, 136, 0.7);
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fff;
}

.portfolio-item .category-wrap .work-name,
.portfolio-item .category-wrap .work-category {
  line-height: 20px;
  text-transform: uppercase;
}

.portfolio-item .category-wrap .work-name {
  font-family: "Signika", sans-serif;
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 25px;
}

.portfolio-item .category-wrap .work-category {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 15px;
}

.portfolio-item:hover .category-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/* -- Sevices -- */
.services {
  padding-top: 110px;
  padding-bottom: 50px;
}

.our-advantages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.our-advantages .advantage-item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 47%;
          flex: 0 1 47%;
  background: #fff;
  transition: .3s ease-in-out;
  -webkit-transition: .3s ease-in-out;
  -moz-transition: .3s ease-in-out;
  -ms-transition: .3s ease-in-out;
  -o-transition: .3s ease-in-out;
  margin-bottom: 60px;
}

.our-advantages .advantage-item:hover {
  background: #f5fffd;
}

.our-advantages .advantage-item:hover .read-more-wrap {
  visibility: visible;
}

.our-advantages .advantage-item .icon-container {
  background: #00a388;
  width: 112px;
  height: 112px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.our-advantages .advantage-item .icon-container img {
  max-width: 100%;
  height: auto;
}

.our-advantages .advantage-item .advantage-name,
.our-advantages .advantage-item .read-more {
  font-family: "Signika", sans-serif;
  line-height: 1;
  letter-spacing: .5px;
  color: #140e1d;
  text-transform: capitalize;
}

.our-advantages .advantage-item .advantage-name {
  font-size: 36px;
  font-weight: 400;
  margin: 10px 0;
}

.our-advantages .advantage-item .description {
  letter-spacing: .5px;
  color: #333;
  padding: 0 5px;
}

.our-advantages .advantage-item .read-more-wrap {
  text-align: right;
  padding-right: 5px;
  visibility: hidden;
  transition: .3s ease-in-out;
  -webkit-transition: .3s ease-in-out;
  -moz-transition: .3s ease-in-out;
  -ms-transition: .3s ease-in-out;
  -o-transition: .3s ease-in-out;
}

.our-advantages .advantage-item .read-more {
  font-size: 18px;
  text-decoration: none;
}

/* -- Blog -- */
.blog {
  padding-top: 110px;
  padding-bottom: 215px;
  background: #ecfffc;
}

.posts-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.posts-wrapper .post {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 23%;
          flex: 0 1 23%;
  padding-bottom: 30px;
}

.posts-wrapper .post img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

.posts-wrapper .post-description {
  background: #fff;
  padding: 30px;
  height: 295px;
  overflow: hidden;
  text-overflow: ellipsis;
  /*????*/
}

.posts-wrapper .post-description .theme {
  font-size: 14px;
  line-height: 21px;
  color: #00a388;
}

.posts-wrapper .post-description h4 {
  font-family: "Signika", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 1.25;
  margin: 15px 0;
}

.posts-wrapper .post-description .post-text {
  line-height: 24px;
}

/* -- Map -- */
/* -- Contact -- */
.inputs input {
  display: block;
}

/* Footer */
.bottom-nav {
  background: #02c5a5;
  padding: 35px 0;
  text-align: center;
  font-size: 14px;
}

.bottom-nav .navigation {
  font-size: 14px;
}

.bottom-nav .navigation li::after {
  right: -7px;
}
/*# sourceMappingURL=style.css.map */