@font-face {
  font-family: "Social Logos";
  src: url("../fonts/SocialLogos.eot") format("embedded-opentype"), url("../fonts/SocialLogos.woff2") format("woff2"), url("../fonts/SocialLogos.woff") format("woff"), url("../fonts/SocialLogos.ttf") format("truetype"), url("../fonts/SocialLogos.svg#SocialLogos") format("svg");
}

section .under-heading-text, .our-team .base-info .position {
  font-size: 16px;
  line-height: 20px;
}

.introducion p, .navigation, .our-team .base-info .name {
  font-size: 18px;
  line-height: 20px;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font: 14px/30px 'Open Sans', sans-serif;
  color: #000;
}

/* Header */
header {
  text-align: center;
}

.introducion {
  background: url(../images/top-bg-shadow.jpg) no-repeat center;
  color: #f1f2f1;
  padding: 440px 0 270px;
}

.introducion .welcome {
  font: 108px/1 'Signika', sans-serif;
  margin-bottom: 90px;
}

.introducion h4 {
  font: 700 48px/1 'Signika', sans-serif;
  margin-bottom: 20px;
}

.introducion p {
  font-family: 'Signika', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}

.top-nav {
  background: #00a388;
  padding: 25px 0;
}

.navigation {
  font-family: 'Signika', sans-serif;
}

.navigation li {
  list-style: none;
  display: inline-block;
  padding: 0 20px;
  position: relative;
}

.navigation li:first-child {
  padding-left: 0;
}

.navigation li:last-child {
  padding-right: 0;
}

.navigation li::after {
  position: absolute;
  content: "//";
  right: -10px;
  color: #f1f2f1;
}

.navigation li:last-child::after {
  content: none;
}

.navigation a {
  text-decoration: none;
  text-transform: uppercase;
  color: #f1f2f1;
  transition: .3s ease-in-out;
  -webkit-transition: .3s ease-in-out;
  -moz-transition: .3s ease-in-out;
  -ms-transition: .3s ease-in-out;
  -o-transition: .3s ease-in-out;
}

.navigation a:hover {
  color: #ffcf5c;
}

/* Main Content */
.container {
  padding: 0 13%;
}

section .section-heading {
  font-family: "Signika", sans-serif;
  font-size: 48px;
  font-weight: 600;
  color: #140e1d;
  line-height: 1;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 55px;
  position: relative;
}

section .section-heading::after {
  content: "...";
  position: absolute;
  left: 48.5%;
  top: 30px;
}

section .under-heading-text {
  font-family: "Signika", sans-serif;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 50px;
}

.about,
.portfolio {
  background: #ecfffc;
}

/* -- About-block --*/
.about {
  padding-top: 90px;
  padding-bottom: 90px;
}

.about-info {
  padding: 0 20px;
  margin-bottom: 100px;
}

.about-info p {
  -webkit-column-count: 2;
          column-count: 2;
  -webkit-column-gap: 110px;
          column-gap: 110px;
  -webkit-column-fill: balance;
          column-fill: balance;
  text-align: justify;
  letter-spacing: .5px;
}

.our-team {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.our-team .member {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 270px;
          flex: 0 1 270px;
}

.our-team .member:hover .base-info,
.our-team .member:hover .more-info {
  background: #00a388;
  color: #fff;
}

.our-team .member:hover .more-info .logos {
  opacity: 1;
}

.our-team .member img {
  vertical-align: middle;
  max-width: 100%;
}

.our-team .base-info {
  text-align: center;
  padding: 10px 0;
  font-family: "Signika", sans-serif;
  transition: .3s ease-in-out;
  -webkit-transition: .3s ease-in-out;
  -moz-transition: .3s ease-in-out;
  -ms-transition: .3s ease-in-out;
  -o-transition: .3s ease-in-out;
}

.our-team .base-info .name {
  text-transform: uppercase;
  margin-bottom: 20px;
  position: relative;
  display: inline-block;
}

.our-team .base-info .name::before, .our-team .base-info .name::after {
  position: absolute;
  content: "//";
}

.our-team .base-info .name::before {
  left: -28px;
}

.our-team .base-info .name::after {
  right: -28px;
}

.our-team .more-info {
  font-size: 12px;
  line-height: 21px;
  color: transparent;
  background: inherit;
  padding: 10px 20px;
  text-align: justify;
  transition: .3s ease-in-out;
  -webkit-transition: .3s ease-in-out;
  -moz-transition: .3s ease-in-out;
  -ms-transition: .3s ease-in-out;
  -o-transition: .3s ease-in-out;
}

.our-team .more-info .logos {
  font-family: "Social Logos";
  text-align: center;
  font-size: 36px;
  line-height: 21px;
  margin-top: 30px;
  opacity: 0;
  transition: .3s ease-in-out;
  -webkit-transition: .3s ease-in-out;
  -moz-transition: .3s ease-in-out;
  -ms-transition: .3s ease-in-out;
  -o-transition: .3s ease-in-out;
}

.our-team .more-info .logos a {
  color: #fff;
  text-decoration: none;
  transition: .3s ease-in-out;
  -webkit-transition: .3s ease-in-out;
  -moz-transition: .3s ease-in-out;
  -ms-transition: .3s ease-in-out;
  -o-transition: .3s ease-in-out;
}

.our-team .more-info .logos a:hover {
  color: #ffcf5c;
}

/* -- Portfolio -- */
.navigation.section-nav {
  text-align: center;
}

.navigation.section-nav li::after {
  color: #000;
}

.navigation.section-nav a {
  color: #000;
  transition: .3s ease-in-out;
  -webkit-transition: .3s ease-in-out;
  -moz-transition: .3s ease-in-out;
  -ms-transition: .3s ease-in-out;
  -o-transition: .3s ease-in-out;
}

.navigation.section-nav a:hover {
  color: #02c5a5;
}

.gallery {
  padding-top: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.gallery .portfolio-item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 25%;
          flex: 0 1 25%;
}

.portfolio-item {
  position: relative;
  transition: .3s ease-in-out;
  -webkit-transition: .3s ease-in-out;
  -moz-transition: .3s ease-in-out;
  -ms-transition: .3s ease-in-out;
  -o-transition: .3s ease-in-out;
}

.portfolio-item img {
  vertical-align: middle;
  max-width: 100%;
  height: auto;
}

.portfolio-item .category-wrap {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  background: rgba(0, 163, 136, 0.7);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fff;
  opacity: 0;
  transition: .3s ease-in-out;
  -webkit-transition: .3s ease-in-out;
  -moz-transition: .3s ease-in-out;
  -ms-transition: .3s ease-in-out;
  -o-transition: .3s ease-in-out;
}

.portfolio-item .category-wrap .work-name, .portfolio-item .category-wrap .work-category {
  line-height: 20px;
  text-transform: uppercase;
}

.portfolio-item .category-wrap .work-name {
  font-family: "Signika", sans-serif;
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 25px;
}

.portfolio-item .category-wrap .work-category {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 15px;
}

.portfolio-item:hover .category-wrap {
  opacity: 1;
}

/* -- Sevices -- */
.services {
  padding-top: 110px;
  padding-bottom: 50px;
}

.our-advantages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.our-advantages .advantage-item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 47%;
          flex: 0 1 47%;
  background: #fff;
  transition: .3s ease-in-out;
  -webkit-transition: .3s ease-in-out;
  -moz-transition: .3s ease-in-out;
  -ms-transition: .3s ease-in-out;
  -o-transition: .3s ease-in-out;
  margin-bottom: 60px;
}

.our-advantages .advantage-item:hover {
  background: #f5fffd;
}

.our-advantages .advantage-item:hover .read-more-wrap {
  opacity: 1;
}

.our-advantages .advantage-item .icon-container {
  background: #00a388;
  width: 112px;
  height: 112px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.our-advantages .advantage-item .icon-container img {
  max-width: 100%;
  height: auto;
}

.our-advantages .advantage-item .advantage-name,
.our-advantages .advantage-item .read-more {
  font-family: "Signika", sans-serif;
  line-height: 1;
  letter-spacing: .5px;
  color: #140e1d;
  text-transform: capitalize;
}

.our-advantages .advantage-item .advantage-name {
  font-size: 36px;
  font-weight: 400;
  margin: 10px 0;
}

.our-advantages .advantage-item .description {
  letter-spacing: .5px;
  color: #333;
  padding: 0 5px;
}

.our-advantages .advantage-item .read-more-wrap {
  text-align: right;
  padding-right: 5px;
  opacity: 0;
  transition: .3s ease-in-out;
  -webkit-transition: .3s ease-in-out;
  -moz-transition: .3s ease-in-out;
  -ms-transition: .3s ease-in-out;
  -o-transition: .3s ease-in-out;
}

.our-advantages .advantage-item .read-more {
  font-size: 18px;
  text-decoration: none;
}

/* -- Blog -- */
.blog {
  padding-top: 110px;
  padding-bottom: 215px;
  background: #ecfffc;
}

.posts-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.posts-wrapper .post {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 23%;
          flex: 0 1 23%;
  padding-bottom: 30px;
  margin-bottom: 30px;
  overflow: hidden;
  background-color: #fff;
  -webkit-transition: -webkit-transform .4s ease;
  transition: -webkit-transform .4s ease;
  transition: transform .4s ease;
  -webkit-transition: transform .4s ease;
  -moz-transition: transform .4s ease;
  -ms-transition: transform .4s ease;
  -o-transition: transform .4s ease;
}

.posts-wrapper .post:hover {
  transform: scale(1.05);
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
}

.posts-wrapper .post img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

.posts-wrapper .theme {
  font-size: 14px;
  line-height: 21px;
  color: #00a388;
  padding: 30px 30px 0;
}

.posts-wrapper h4 {
  font-family: "Signika", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 1.25;
  margin: 15px 0;
  padding: 0 30px;
}

.posts-wrapper .theme a,
.posts-wrapper h4 a {
  text-decoration: none;
  color: inherit;
}

.posts-wrapper .post-text {
  line-height: 24px;
  padding: 0 30px;
}

/* -- Map -- */
/* -- Contact -- */
.contact-us {
  padding-top: 140px;
  padding-bottom: 140px;
}

.input-fields {
  width: 60%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.input-fields .inputs,
.input-fields .textarea {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 48%;
          flex: 0 1 48%;
}

.input-fields input,
.input-fields textarea {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
}

.input-fields input::-webkit-input-placeholder,
.input-fields textarea::-webkit-input-placeholder {
  color: #fff;
}

.input-fields input:-ms-input-placeholder,
.input-fields textarea:-ms-input-placeholder {
  color: #fff;
}

.input-fields input::-ms-input-placeholder,
.input-fields textarea::-ms-input-placeholder {
  color: #fff;
}

.input-fields input::placeholder,
.input-fields textarea::placeholder {
  color: #fff;
}

.input-fields textarea {
  height: 100%;
}

.input-fields input[type="text"] {
  margin-bottom: 30px;
}

.inputs input,
.textarea textarea,
input[type="submit"] {
  background: #140e1d;
  color: #fff;
  border: 2px solid transparent;
  border-radius: 10px;
  display: block;
  outline: none;
}

.inputs input:hover, .inputs input:focus,
.textarea textarea:hover,
.textarea textarea:focus,
input[type="submit"]:hover,
input[type="submit"]:focus {
  border: 2px solid #02c5a5;
}

.inputs input,
.textarea textarea {
  padding: 20px;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 1;
}

input[type="submit"] {
  margin: 50px auto 0;
  padding: 10px 30px;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1;
}

/* Footer */
.bottom-nav {
  background: #02c5a5;
  padding: 35px 0;
  text-align: center;
}

.bottom-nav .navigation {
  font-size: 14px;
}

.bottom-nav .navigation li::after {
  right: -7px;
}

.main-footer {
  background: #00a388;
  padding-top: 110px;
  padding-bottom: 110px;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.addresses {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.addresses .address-item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 28%;
          flex: 0 1 28%;
}

.addresses .address-item p {
  font-size: 18px;
  line-height: 24px;
}

.social {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 40%;
          flex: 0 1 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.social div {
  padding-right: 10px;
}

.social a {
  display: inline-block;
  line-height: 0;
  background: #fff;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  transition: .3s ease-in-out;
  -webkit-transition: .3s ease-in-out;
  -moz-transition: .3s ease-in-out;
  -ms-transition: .3s ease-in-out;
  -o-transition: .3s ease-in-out;
}

.social a:hover {
  background: #00a388;
}

.social img {
  max-width: 100%;
  height: auto;
}

@media (min-width: 320px) and (max-width: 991px) {
  .our-team .member {
    position: relative;
  }
  .our-team .member:hover .member-info,
  .our-team .member:hover .base-info,
  .our-team .member:hover .more-info {
    opacity: 1;
  }
  .our-team .member:hover .base-info,
  .our-team .member:hover .more-info {
    background: transparent;
  }
  .our-team .member .member-info {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    transition: .3s ease-in-out;
    -webkit-transition: .3s ease-in-out;
    -moz-transition: .3s ease-in-out;
    -ms-transition: .3s ease-in-out;
    -o-transition: .3s ease-in-out;
    opacity: 0;
    background: rgba(0, 163, 136, 0.8);
  }
  .our-team .member .base-info {
    opacity: 0;
  }
  .our-team .member .more-info {
    opacity: 0;
  }
  .our-team .member .more-info .logos {
    margin-top: 10px;
  }
}

@media (max-width: 576px) {
  section .under-heading-text, .our-team .base-info .position {
    font-size: 13px;
    line-height: 18px;
  }
  .introducion p, .navigation, .our-team .base-info .name {
    font-size: 14px;
    line-height: 18px;
  }
  body {
    font-size: 11px;
    line-height: 21px;
  }
  .introducion {
    padding: 50px 0 30px;
    background-size: cover;
  }
  .introducion .welcome {
    font-size: 24px;
    margin-bottom: 20px;
  }
  .introducion h4 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  .introducion p {
    font-weight: 400;
  }
  /* Content */
  section .section-heading {
    font-size: 24px;
    margin-bottom: 40px;
  }
  section .section-heading::after {
    top: 20px;
  }
  section .under-heading-text {
    margin-bottom: 30px;
  }
  /* -- About-block --*/
  .about {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .about-info {
    padding: 0 10px;
    margin-bottom: 50px;
  }
  .about-info p {
    -webkit-column-count: 1;
            column-count: 1;
  }
  .our-team {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .our-team .member {
    margin-bottom: 10px;
  }
  .our-team .member .member-info {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .our-team .member .base-info .name {
    margin-bottom: 10px;
  }
  .our-team .member .more-info {
    padding: 10px;
    line-height: 18px;
  }
  /* -- Portfolio -- */
  .gallery {
    padding-top: 30px;
  }
  .gallery .portfolio-item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
  .portfolio-item .gallery-img {
    width: 100%;
  }
  .portfolio-item .category-wrap .work-name, .portfolio-item .category-wrap .work-category {
    line-height: 20px;
    text-transform: uppercase;
  }
  .portfolio-item .category-wrap .work-name {
    font-family: "Signika", sans-serif;
    font-size: 18px;
  }
  .portfolio-item .category-wrap .work-category {
    font-size: 14px;
  }
  .portfolio-item .category-wrap img {
    width: 30px;
  }
  /* -- Services -- */
  .services {
    padding-top: 50px;
    padding-bottom: 20px;
  }
  .our-advantages {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .our-advantages .advantage-item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
    margin-bottom: 30px;
  }
  .our-advantages .advantage-item .advantage-name {
    font-size: 24px;
  }
  .our-advantages .advantage-item .description {
    text-align: justify;
  }
  .our-advantages .advantage-item .read-more {
    font-size: 14px;
  }
  /* -- Blog -- */
  .blog {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .posts-wrapper {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .posts-wrapper .post {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
    padding-bottom: 10px;
  }
  .posts-wrapper .post img {
    width: 100%;
  }
  .posts-wrapper h4 {
    font-size: 21px;
  }
  /* -- Contact -- */
  .contact-us {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .input-fields {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .input-fields .inputs,
  .input-fields .textarea {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
  .input-fields input[type="text"] {
    margin-bottom: 15px;
  }
  .input-fields input[type="email"] {
    margin-bottom: 15px;
  }
  .inputs input,
  .textarea textarea {
    padding: 10px;
  }
  input[type="submit"] {
    margin: 15px auto 0;
    font-size: 14px;
    font-weight: 400;
  }
  /* Footer */
  .main-footer {
    padding-top: 50px;
    padding-bottom: 50px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .addresses {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
  .addresses .address-item p {
    font-size: 14px;
    line-height: 21px;
  }
  .social {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
    margin-top: 10px;
  }
  a {
    max-width: 70%;
  }
}

@media (min-width: 577px) and (max-width: 767px) {
  section .under-heading-text, .our-team .base-info .position {
    font-size: 13px;
    line-height: 20px;
  }
  .introducion p, .navigation, .our-team .base-info .name {
    font-size: 13px;
    line-height: 20px;
  }
  body {
    font-size: 13px;
    line-height: 26px;
  }
  /* Header */
  .introducion {
    background-size: cover;
    padding: 70px 0 50px;
  }
  .introducion .welcome {
    font-size: 38px;
    margin-bottom: 45px;
  }
  .introducion h4 {
    font-size: 28px;
  }
  .navigation li {
    padding: 0 15px;
  }
  .navigation li::after {
    right: -5px;
  }
  /* Main Content */
  section .section-heading {
    font-size: 34px;
    margin-bottom: 45px;
  }
  section .section-heading::after {
    left: 47%;
  }
  section .under-heading-text {
    margin-bottom: 35px;
  }
  /* -- About-block --*/
  .about {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .about-info {
    padding: 0 10px;
    margin-bottom: 50px;
  }
  .about-info p {
    -webkit-column-count: 1;
            column-count: 1;
  }
  .our-team {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .our-team .member {
    margin-bottom: 10px;
  }
  .our-team .base-info .name {
    margin-bottom: 10px;
  }
  /* -- Portfolio -- */
  .gallery {
    padding-top: 40px;
  }
  .gallery .portfolio-item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }
  .portfolio-item .category-wrap .work-name {
    font-size: 18px;
  }
  .portfolio-item .category-wrap .work-category {
    font-size: 14px;
  }
  .portfolio-item .category-wrap img {
    width: 30px;
  }
  /* -- Sevices -- */
  .services {
    padding-top: 50px;
    padding-bottom: 0px;
  }
  .our-advantages .advantage-item {
    margin-bottom: 30px;
  }
  .our-advantages .advantage-item .icon-container {
    width: 100px;
    height: 100px;
  }
  .our-advantages .advantage-item .advantage-name {
    font-size: 21px;
    margin: 15px 0;
  }
  .our-advantages .advantage-item .read-more {
    font-size: 14px;
  }
  /* -- Blog -- */
  .blog {
    padding-top: 55px;
    padding-bottom: 55px;
  }
  .posts-wrapper .post {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 45%;
            flex: 0 1 45%;
    padding-bottom: 15px;
    margin-bottom: 15px;
  }
  .posts-wrapper .theme {
    font-size: 13px;
    padding: 15px 15px 0;
  }
  .posts-wrapper h4 {
    font-size: 18px;
    padding: 0 15px;
  }
  .posts-wrapper .post-text {
    padding: 0 15px;
  }
  /* -- Contact -- */
  .contact-us {
    padding-top: 70px;
    padding-bottom: 70px;
  }
  .inputs input,
  .textarea textarea {
    padding: 10px;
    font-size: 13px;
  }
  input[type="submit"] {
    font-size: 13px;
  }
  /* Footer */
  .bottom-nav {
    padding: 25px 0;
  }
  .bottom-nav .navigation {
    font-size: 13px;
  }
  .main-footer {
    padding-top: 55px;
    padding-bottom: 55px;
  }
  .addresses {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 55%;
            flex: 0 1 55%;
  }
  .addresses .address-item p {
    font-size: 13px;
    line-height: 21px;
  }
  .social a {
    max-width: 90%;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  section .under-heading-text, .our-team .base-info .position {
    font-size: 14px;
    line-height: 20px;
  }
  .introducion p, .navigation, .our-team .base-info .name {
    font-size: 16px;
    line-height: 20px;
  }
  /* Header */
  .introducion {
    background-size: cover;
    padding: 160px 0 70px;
  }
  .introducion .welcome {
    font-size: 68px;
    margin-bottom: 70px;
  }
  .introducion h4 {
    font-size: 36px;
  }
  section .section-heading {
    font-size: 40px;
  }
  section .section-heading::after {
    left: 47%;
  }
  /* -- About-block --*/
  .about-info p {
    -webkit-column-gap: 70px;
            column-gap: 70px;
  }
  .our-team .member {
    margin-bottom: 10px;
  }
  /* -- Portfolio -- */
  .gallery {
    padding-top: 60px;
  }
  .portfolio-item .category-wrap .work-name {
    font-size: 21px;
  }
  .portfolio-item .category-wrap .work-category {
    font-size: 16px;
  }
  .portfolio-item .category-wrap img {
    width: 30px;
  }
  /* -- Sevices -- */
  .services {
    padding-bottom: 0px;
  }
  .our-advantages .advantage-item {
    margin-bottom: 50px;
  }
  .our-advantages .advantage-item .icon-container {
    width: 100px;
    height: 100px;
  }
  .our-advantages .advantage-item .advantage-name {
    font-size: 28px;
  }
  .our-advantages .advantage-item .read-more {
    font-size: 16px;
  }
  /* -- Blog -- */
  .blog {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  .posts-wrapper .post {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 44%;
            flex: 0 1 44%;
  }
  /* -- Contact -- */
  .contact-us {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  /* Footer */
  .main-footer {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .addresses {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 60%;
            flex: 0 1 60%;
  }
  .addresses .address-item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 29%;
            flex: 0 1 29%;
  }
  .addresses .address-item p {
    font-size: 16px;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  section .under-heading-text, .our-team .base-info .position {
    font-size: 14px;
    line-height: 20px;
  }
  .introducion p, .navigation, .our-team .base-info .name {
    font-size: 16px;
    line-height: 20px;
  }
  /* Header */
  .introducion {
    background-size: cover;
    padding: 240px 0 170px;
  }
  /* -- About-block --*/
  .about-info p {
    -webkit-column-gap: 90px;
            column-gap: 90px;
  }
  .our-team .member {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 23%;
            flex: 0 1 23%;
  }
  .our-team .base-info .name::before {
    left: -20px;
  }
  .our-team .base-info .name::after {
    right: -20px;
  }
  .our-team .more-info {
    padding: 10px;
    text-align: center;
  }
  /* -- Portfolio -- */
  .portfolio-item .category-wrap .work-name {
    font-size: 24px;
  }
  .portfolio-item .category-wrap .work-category {
    font-size: 16px;
  }
  /* -- Blog -- */
  .blog {
    padding-bottom: 150px;
  }
  .posts-wrapper .post {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 24%;
            flex: 0 1 24%;
  }
  .posts-wrapper .theme {
    padding: 30px 15px 0;
  }
  .posts-wrapper h4 {
    font-size: 21px;
    padding: 0 15px;
  }
  .posts-wrapper .post-text {
    padding: 0 15px;
  }
}

@media (min-width: 1200px) and (max-width: 1480px) {
  .our-team .member {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 23%;
            flex: 0 1 23%;
  }
}
/*# sourceMappingURL=style.css.map */