@import "fonts";

$main-green: #00a388;
$secondary-green: #02c5a5;
$background-green: #ecfffc;
$hover-green: #f5fffd;

$heading-color: #140e1d;

%under-heading {
  font-size: 16px;
  line-height: 20px;
}
%under-heading-dashed {
  font-size: 18px;
  line-height: 20px;
}
@mixin link-transition() {
  transition: .3s ease-in-out;
  -webkit-transition: .3s ease-in-out;
  -moz-transition: .3s ease-in-out;
  -ms-transition: .3s ease-in-out;
  -o-transition: .3s ease-in-out;
}

* {
  margin: 0; 
  padding: 0;
}

body {
  font: 14px/30px 'Open Sans', sans-serif;
  color: #000;
}

/* Header */
header {
  text-align: center;
}
.introducion {
  background: url(../images/top-bg-shadow.jpg) no-repeat center;
  color: #f1f2f1;
  padding: 440px 0 270px;

  .welcome {
    font: 108px/108px 'Signika', sans-serif;
    margin-bottom: 90px;
  }

  h4 {
    font: 700 48px/48px 'Signika', sans-serif;
    margin-bottom: 20px;
  }

  p {
    @extend %under-heading-dashed;
    font: {
      family: 'Signika', sans-serif;
      weight: 700;
    } 
    text-transform: uppercase;
    
  }
}

.top-nav {
  background: $main-green;
  padding: 25px 0;

  
}

.navigation {
  font-family: 'Signika', sans-serif;
  @extend %under-heading-dashed;

  li {
    list-style: none;
    display: inline-block;
    padding: 0 20px;
    position: relative;

    &:first-child {
      padding-left: 0;
    }
    &:last-child {
      padding-right: 0;
    }
    &::after {
      position: absolute;
      content: "//";
      right: -10px;
      color: #f1f2f1;
    }
    &:last-child::after{
      content: none;
    }
  }
  a {
    text-decoration: none;
    text-transform: uppercase;
    color: #f1f2f1;
    @include link-transition();

    &:hover {
      opacity: .8;
    }
  }
  
}


/* Main Content */
.container {
  padding: 0 13%;
}
section {
  .section-heading {
    font: {
      family: "Signika", sans-serif;
      size: 48px;
      weight: 600;
    }
    color: $heading-color;
    line-height: 1;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 55px;
    position: relative;
  
    &::after {
      content: "...";
      position: absolute;
      left: 48.5%;
      top: 30px;
    }
  }

  .under-heading-text {
    @extend %under-heading;
    font-family: "Signika", sans-serif;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 50px;;
  }
} 
.about,
.portfolio {
  background: $background-green;
}

/* -- About-block --*/
.about {
  padding-top: 90px;
  padding-bottom: 90px;
} 

.about-info {
  padding: 0 20px;
  margin-bottom: 100px;;


  p {
    column-count: 2;
    column-gap: 110px;
    column-fill: balance;
    text-align: justify;
    letter-spacing: .5px;
  }
}

.our-team {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  

  .member {
    flex: 0 1 270px;

    img {
      vertical-align: middle;
      max-width: 100%;
    }
  }

  .base-info {
    text-align: center;
    padding: 10px 0;
    font-family: "Signika", sans-serif;
    background: $main-green;

    .name {
      @extend %under-heading-dashed;
      text-transform: uppercase;
      margin-bottom: 20px;
      position: relative;
      display: inline-block;

      &::before,
      &::after {
        position: absolute;
        content: "//";
      }
      &::before {
        left: -28px;
      }
      &::after {
        right: -28px;
      }

    }
    .position {
      @extend %under-heading;
    }
  }

  .more-info {
    font-size: 12px;
    line-height: 21px;
    color: #fff;
    background: $main-green;
    padding: 10px 20px 20px;
    text-align: justify;

    .logos {
      font-family: "Social Logos";
      text-align: center;
      font-size: 36px;
      line-height: 21px;
      margin-top: 30px;

      a {
        color: #fff;
        text-decoration: none;
        @include link-transition();
      }
    }
  }
}


/* -- Portfolio -- */

.navigation.section-nav {
  text-align: center;
  // margin-bottom: 80px;
  
  li::after {
    color: #000;
  }
  a {
    color: #000;
  }
}

.gallery {
  padding-top: 80px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  .portfolio-item {
    flex: 0 1 25%;
  }
}
.portfolio-item {
  position: relative;
  @include link-transition();

  img {
    vertical-align: middle;
    max-width: 100%;
    height: auto;
  }
  .category-wrap {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    background: rgba(0, 163, 136, .7);
    display: none;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    color: #fff;

    .work-name,
    .work-category {
      line-height: 20px;
      text-transform: uppercase;
    }
    .work-name {
      font: {
        family: "Signika", sans-serif;
        size: 30px;
        weight: 700;
      }
      margin-bottom: 25px;
    }
    .work-category {
      font: {
        size: 18px;
        weight: 600;
      }
      margin-bottom: 15px;
    }
  }

  &:hover {
    .category-wrap {
      display: flex;
      
    }
  }
}

/* -- Sevices -- */


.services {
  padding-top: 110px;
  padding-bottom: 50px;
}
.our-advantages {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;



  .advantage-item {
    flex: 0 1 47%;
    background: #fff;
    @include link-transition();
    margin-bottom: 60px;

    &:hover {
      background: $hover-green;

      .read-more-wrap {
        visibility: visible;
      }

    }

    .icon-container {
      background: $main-green;
      width: 112px;
      height: 112px;
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        max-width: 100%;
        height: auto;
      }
    }
    .advantage-name,
    .read-more {
      font-family: "Signika", sans-serif;
      line-height: 1;
      letter-spacing: .5px;
      color: $heading-color;
      text-transform: capitalize;
    }
    .advantage-name {
      font: {
        size: 36px;
        weight: 400;
      }
      margin: 10px 0;
    }
    .description {
      letter-spacing: .5px;
      color: #333;
      padding: 0 5px;
    }
    .read-more-wrap {
      text-align: right;
      padding-right: 5px;
      visibility: hidden;
      @include link-transition();
    }
    .read-more {
      font-size: 18px;
      text-decoration: none;
      
    }
  }
}

/* -- Blog -- */

.blog {
  padding-top: 110px;
  padding-bottom: 215px;
  background: $background-green;
}

.posts-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  .post {
    flex: 0 1 23%;
    padding-bottom: 30px;
    

    img {
      max-width: 100%;
      height: auto;
      vertical-align: middle;
    }
  }
  .post-description {
    background: #fff;
    padding: 30px;
    height: 295px;
    overflow: hidden;
    text-overflow: ellipsis;/*????*/

    .theme {
      font-size: 14px;
      line-height: 21px;
      color: $main-green;
    }
    h4 {
      font: {
        family: "Signika", sans-serif;
        size: 24px;
        weight: 400;
        }
        line-height: 1.25;
        margin: 15px 0;
    }
    .post-text {
      line-height: 24px;
    }
  }

  
}

/* -- Map -- */
/* -- Contact -- */

.inputs input {
  display: block;
}

/* Footer */
.bottom-nav {
  background: $secondary-green;
  padding: 35px 0;
  text-align: center;
  font-size: 14px;

  .navigation {
    font-size: 14px;

    li::after {
      right: -7px;
    }
  }
}
.main-footer {
  background: $main-green;
  padding-top: 110px;
  padding-bottom: 110px;
  color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.addresses {
  flex: 0 1 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.social {

}