@import "fonts";

$main-green: #00a388;
$secondary-green: #02c5a5;
$background-green: #ecfffc;
$hover-green: #f5fffd;

$heading-color: #140e1d;

%under-heading {
  font-size: 16px;
  line-height: 20px;
}
%under-heading-dashed {
  font-size: 18px;
  line-height: 20px;
}
@mixin link-transition() {
  transition: .3s ease-in-out;
  -webkit-transition: .3s ease-in-out;
  -moz-transition: .3s ease-in-out;
  -ms-transition: .3s ease-in-out;
  -o-transition: .3s ease-in-out;
}

* {
  margin: 0; 
  padding: 0;
}

body {
  font: 14px/30px 'Open Sans', sans-serif;
  color: #000;
}

/* Header */
header {
  text-align: center;
}
.introducion {
  background: url(../images/top-bg-shadow.jpg) no-repeat center;
  // background-size: contain;
  color: #f1f2f1;
  padding: 440px 0 270px;

  .welcome {
    font: 108px/1 'Signika', sans-serif;
    margin-bottom: 90px;
  }

  h4 {
    font: 700 48px/1 'Signika', sans-serif;
    margin-bottom: 20px;
  }

  p {
    @extend %under-heading-dashed;
    font: {
      family: 'Signika', sans-serif;
      weight: 700;
    } 
    text-transform: uppercase;
  }
}

.top-nav {
  background: $main-green;
  padding: 25px 0;

  &.fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    padding: 15px 0;
  }
}

.navigation {
  font-family: 'Signika', sans-serif;
  @extend %under-heading-dashed;

  li {
    list-style: none;
    display: inline-block;
    padding: 0 20px;
    position: relative;

    &:first-child {
      padding-left: 0;
    }
    &:last-child {
      padding-right: 0;
    }
    &::after {
      position: absolute;
      content: "//";
      right: -10px;
      color: #f1f2f1;
    }
    &:last-child::after{
      content: none;
    }
  }
  a {
    text-decoration: none;
    text-transform: uppercase;
    color: #f1f2f1;
    @include link-transition();

    &.current,
    &:hover {
      color: #ffcf5c;
    }
  }
  
}


/* Main Content */
.container {
  padding: 0 13%;
}
section {
  .section-heading {
    font: {
      family: "Signika", sans-serif;
      size: 48px;
      weight: 600;
    }
    color: $heading-color;
    line-height: 1;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 55px;
    position: relative;
  
    &::after {
      content: "...";
      position: absolute;
      left: 48.5%;
      top: 30px;
    }
  }

  .under-heading-text {
    @extend %under-heading;
    font-family: "Signika", sans-serif;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 50px;
  }
} 
.about,
.portfolio {
  background: $background-green;
}

/* -- About-block --*/
.about {
  padding-top: 90px;
  padding-bottom: 90px;
} 

.about-info {
  padding: 0 20px;
  margin-bottom: 100px;


  p {
    column-count: 2;
    column-gap: 110px;
    column-fill: balance;
    text-align: justify;
    letter-spacing: .5px;
  }
}

.our-team {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  

  .member {
    flex: 0 1 270px;
    opacity: 0;
    @include link-transition();
    transform: translateY(20px);
    -webkit-transform: translateY(20px);
    -moz-transform: translateY(20px);
    -ms-transform: translateY(20px);
    -o-transform: translateY(20px);

    &.showing {
      opacity: 1;
      transform: translateY(0px);
      -webkit-transform: translateY(0px);
      -moz-transform: translateY(0px);
      -ms-transform: translateY(0px);
      -o-transform: translateY(0px);
    }
    

    &:hover {
      .base-info,
      .more-info  {
        background: $main-green;
        color: #fff;
      }
      .more-info  {
        .logos {
          opacity: 1;
        }
      }
    }

    img {
      vertical-align: middle;
      max-width: 100%;
    }
  }

  .base-info {
    text-align: center;
    padding: 10px 0;
    font-family: "Signika", sans-serif;
    @include link-transition();

    .name {
      @extend %under-heading-dashed;
      text-transform: uppercase;
      margin-bottom: 20px;
      position: relative;
      display: inline-block;

      &::before,
      &::after {
        position: absolute;
        content: "//";
      }
      &::before {
        left: -28px;
      }
      &::after {
        right: -28px;
      }

    }
    .position {
      @extend %under-heading;
    }
  }

  .more-info {
    font-size: 12px;
    line-height: 21px;
    color: transparent;
    background: inherit;
    padding: 10px 20px;
    text-align: justify;
    @include link-transition();
    
    .logos {
      font-family: "Social Logos";
      text-align: center;
      font-size: 36px;
      line-height: 21px;
      margin-top: 30px;
      opacity: 0;
      @include link-transition();

      a {
        color: #fff;
        text-decoration: none;
        @include link-transition();

        &:hover {
          color: #ffcf5c;
        }
      }
    }
  }
}


/* -- Portfolio -- */

.navigation.section-nav {
  text-align: center;
  
  li::after {
    color: #000;
  }
  a {
    color: #000;
    @include link-transition();

    &:hover {
      color: $secondary-green;
    }
  }
}

.gallery {
  padding-top: 80px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  .portfolio-item {
    flex: 0 1 25%;
  }
}
.portfolio-item {
  position: relative;
  @include link-transition();

  img {
    vertical-align: middle;
    max-width: 100%;
    height: auto;
  }
  .category-wrap {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    background: rgba(0, 163, 136, .7);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    color: #fff;
    opacity: 0;
    @include link-transition();

    .work-name,.work-category{
      line-height: 20px;
      text-transform: uppercase;
    }
    .work-name {
      font: {
        family: "Signika", sans-serif;
        size: 30px;
        weight: 700;
      }
      margin-bottom: 25px;
    }
    .work-category {
      font: {
        size: 18px;
        weight: 600;
      }
      margin-bottom: 15px;
    }
  }

  &:hover {
    .category-wrap {
      opacity: 1;
    }
  }
}

/* -- Sevices -- */


.services {
  padding-top: 110px;
  padding-bottom: 50px;
}
.our-advantages {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;


  .advantage-item {
    flex: 0 1 47%;
    background: #fff;
    @include link-transition();
    margin-bottom: 60px;

    &:hover {
      background: $hover-green;

      .read-more-wrap {
        opacity: 1;
      }

    }

    .icon-container {
      background: $main-green;
      width: 112px;
      height: 112px;
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        max-width: 100%;
        height: auto;
      }
    }
    .advantage-name,
    .read-more {
      font-family: "Signika", sans-serif;
      line-height: 1;
      letter-spacing: .5px;
      color: $heading-color;
      text-transform: capitalize;
    }
    .advantage-name {
      font: {
        size: 36px;
        weight: 400;
      }
      margin: 10px 0;
    }
    .description {
      letter-spacing: .5px;
      color: #333;
      padding: 0 5px;
    }
    .read-more-wrap {
      text-align: right;
      padding-right: 5px;
      opacity: 0;
      @include link-transition();
    }
    .read-more {
      font-size: 18px;
      text-decoration: none;
    }
  }
}

/* -- Blog -- */

.blog {
  padding-top: 110px;
  padding-bottom: 215px;
  background: $background-green;
}

.posts-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  .post {
    flex: 0 1 23%;
    padding-bottom: 30px;
    margin-bottom: 30px;
    overflow: hidden;
    background-color: #fff;
    transition: all .4s ease;
    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    -ms-transition: all .4s ease;
    -o-transition: all .4s ease;
    transform: translateX(20px);
    -webkit-transform: translateX(20px);
    -moz-transform: translateX(20px);
    -ms-transform: translateX(20px);
    -o-transform: translateX(20px);
    opacity: 0;
    &.active {
      opacity: 1;
      transform: translateX(0px);
      -webkit-transform: translateX(0px);
      -moz-transform: translateX(0px);
      -ms-transform: translateX(0px);
      -o-transform: translateX(0px);
    }
    &:hover {
        transform: scale(1.05);
        -webkit-transform: scale(1.05);
        -moz-transform: scale(1.05);
        -ms-transform: scale(1.05);
        -o-transform: scale(1.05);
    }

    img {
      max-width: 100%;
      height: auto;
      vertical-align: middle;
    }
  }

    .theme {
      font-size: 14px;
      line-height: 21px;
      color: $main-green;
      padding: 30px 30px 0;
    }
    h4 {
      font: {
        family: "Signika", sans-serif;
        size: 24px;
        weight: 400;
        }
        line-height: 1.25;
        margin: 15px 0;
        padding: 0 30px;
    }
    .theme a,
    h4 a{
      text-decoration: none;
      color: inherit;
    }
    .post-text {
      line-height: 24px;
      padding: 0 30px;
    }
  

  
}

/* -- Map -- */
/* -- Contact -- */
.contact-us {
  padding-top: 140px;
  padding-bottom: 140px;
}
.input-fields {
  width: 60%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;

  .inputs,
  .textarea {
    flex: 0 1 48%;
  }

  input,
  textarea {
    box-sizing: border-box;
    width: 100%;

    &::placeholder {
      color: #fff;
    }
    
  }
  textarea {
    height: 100%;

  }
  input[type="text"] {
    margin-bottom: 30px;
  }
}


.inputs input,
.textarea textarea,
input[type="submit"] {
  background: $heading-color;
  color: #fff;
  border: 2px solid transparent;
  border-radius: 10px;
  display: block;
  outline: none;

  &:hover,
  &:focus {
    border: 2px solid $secondary-green;
  }
}
.inputs input,
.textarea textarea {
  padding: 20px;
  font: {
    family: "Open Sans", sans-serif;
    size: 14px;
    weight: 300;
  }
  line-height: 1;
}
input[type="submit"] {
  margin: 50px auto 0;
  padding: 10px 30px;
  font: {
    family: "Open Sans", sans-serif;
    size: 14px;
    weight: 600;
  }
  text-transform: uppercase;
  line-height: 1;
  
}

/* Footer */
.bottom-nav {
  background: $secondary-green;
  padding: 35px 0;
  text-align: center;

  .navigation {
    font-size: 14px;

    li::after {
      right: -7px;
    }
  }
}
.main-footer {
  background: $main-green;
  padding-top: 110px;
  padding-bottom: 110px;
  color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.addresses {
  flex: 0 1 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;


  .address-item {
    flex: 0 1 28%;

    p {
      font-size: 18px;
      line-height: 24px;
    }
  }
}
.social {
  flex: 0 1 40%;
  display: flex;
  justify-content: center;

  div {
    padding-right: 10px;
  }
  a {
    display: inline-block;
    line-height: 0;
    background: #fff;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    @include link-transition();

    &:hover {
      background: $main-green;
    }
  }
  img {
    max-width: 100%;
    height: auto;
  }
}
@media (min-width: 320px) and (max-width: 991px) {
  .our-team {
    .member {
      position: relative;

      &:hover {
        .member-info,
        .base-info,
        .more-info {
          opacity: 1;
        }
        .base-info,
        .more-info {
          background: transparent;
        }
      }

      .member-info {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        @include link-transition();
        opacity: 0;
        background: rgba(0, 163, 136, .8);
      }

      .base-info {
        opacity: 0;
      }
      .more-info {
        opacity: 0;
        
        .logos {
          margin-top: 10px;
        }
      }
    }
  }
}
 
@media (max-width: 576px) {

  %under-heading {
    font-size: 12px;
    line-height: 18px;
  }
  %under-heading-dashed {
    font-size: 12px;
    line-height: 16px;
  }
  body {
    font-size: 11px;
    line-height: 21px;
  }
  .introducion {
    padding: 50px 0 30px;
    background-size: cover;
  
    .welcome {
      font-size: 24px;
      margin-bottom: 20px;
    }
  
    h4 {
      font-size: 18px;
      margin-bottom: 10px;
    }
  
    p {
      font-weight: 400;
    }
  }

  /* Navigation */
  .top-nav {
    padding: 15px 0;
    &.fixed {
      padding: 10px 0;
    }
  }
  
  .navigation {
  
    li {
      padding: 0 10px;
     
      &::after {
        right: -5px;
      }
      
    }
    
  }
  

  /* Content */

  section {
    .section-heading {
      font-size: 24px;
      margin-bottom: 40px;
    
      &::after {
        top: 20px;
      }
    }
    .under-heading-text {
      margin-bottom: 30px;
    }
  } 
  /* -- About-block --*/
  .about {
    padding-top: 30px;
    padding-bottom: 30px;
  } 

  .about-info {
    padding: 0 10px;
    margin-bottom: 50px;

    p {
      column-count: 1;
    }
  }

  .our-team {
    justify-content: center;

    .member {
      margin-bottom: 10px;
      
      .member-info {
        justify-content: space-around;
      }

      .base-info {
        .name {
          margin-bottom: 10px;
        }
      }
      .more-info {
        padding: 10px;
        line-height: 18px;
        
      }
    }
  }

  /* -- Portfolio -- */

  .gallery {
    padding-top: 30px;
    
    .portfolio-item {
      flex: 0 1 100%;
    }
  }
  .portfolio-item {
    
    .gallery-img {
      width: 100%;
    }
    .category-wrap {
      
      .work-name,.work-category{
        line-height: 20px;
        text-transform: uppercase;
      }
      .work-name {
        font: {
          family: "Signika", sans-serif;
          size: 18px;
        }
        
      }
      .work-category {
        font-size: 14px;
      }
      img {
        width: 30px;
      }
    }

  }

  /* -- Services -- */
  .services {
    padding-top: 50px;
    padding-bottom: 20px;
  }
  .our-advantages {
    justify-content: center;

    .advantage-item {
      flex: 0 1 100%;
      margin-bottom: 30px;
  
      // .icon-container {
      //   margin: 0 auto;
      // }
      
      .advantage-name {
        font-size: 24px;
      }
      .description {
        text-align: justify;
      }
      .read-more {
        font-size: 14px;
      }
    }
  }

  /* -- Blog -- */

  .blog {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .posts-wrapper {
    justify-content: center;

    .post {
      flex: 0 1 100%;
      padding-bottom: 10px;
      
      img {
        width: 100%;
      }
    }
    
    h4 {
      font-size: 21px;
    }
    
  }
  
  /* -- Contact -- */
  .contact-us {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .input-fields {
    justify-content: center;

    .inputs,
    .textarea {
      flex: 0 1 100%;
    }

    input[type="text"] {
      margin-bottom: 15px;
    }
    input[type="email"] {
      margin-bottom: 15px;
    }
  }

  .inputs input,
  .textarea textarea {
    padding: 10px;
  }
  input[type="submit"] {
    margin: 15px auto 0;
    font: {
      size: 14px;
      weight: 400;
    }
  }

  /* Footer */
  .bottom-nav {
    padding: 15px 0;
    
    .navigation {
      font-size: 11px;
  
      li::after {
        right: -5px;
      }
    }
  }
  .main-footer {
    padding-top: 50px;
    padding-bottom: 50px;
    flex-wrap: wrap;
  }
  .addresses {
    flex: 0 1 100%;
    
    .address-item {
      p {
        font-size: 14px;
        line-height: 21px;
      }
    }
  }
  .social {
    flex: 0 1 100%;
    margin-top: 10px;
  }

  a {
    max-width: 70%;
  }
}

@media (min-width: 577px) and (max-width: 767px) {

  %under-heading {
    font-size: 13px;
    line-height: 20px;
  }
  %under-heading-dashed {
    font-size: 13px;
    line-height: 20px;
  }

  body {
    font-size: 13px;
    line-height: 26px;
  }
  /* Header */

  .introducion {
    background-size: cover;
    padding: 70px 0 50px;

    .welcome {
      font-size: 38px;
      margin-bottom: 45px;
    }
    h4 {
      font-size: 28px;
    }
  }

  .navigation {
    li {
      padding: 0 15px;

      &::after {
        right: -5px;
      }
    }
  }

  /* Main Content */
  section {
    .section-heading {
      font-size: 34px;
      margin-bottom: 45px;
      
      &::after {
        left: 47%;
      }
    }
    .under-heading-text {
      margin-bottom: 35px;
    }
  } 

  /* -- About-block --*/
  .about {
    padding-top: 50px;
    padding-bottom: 50px;
  } 

  .about-info {
    padding: 0 10px;
    margin-bottom: 50px;

    p {
      column-count: 1;
    }
  }

  .our-team {
    justify-content: center;

    .member {
      margin-bottom: 10px;
    }

    .base-info {
      .name {
        margin-bottom: 10px;
      }
    }
  }

  /* -- Portfolio -- */

  .gallery {
    padding-top: 40px;

    .portfolio-item {
      flex: 0 1 50%;
    }
  }
  .portfolio-item {

    .category-wrap { 
      .work-name {
        font: {
          size: 18px;
        }
      }
      .work-category {
        font: {
          size: 14px;
        }
      }
      img {
        width: 30px;
      }
    }
  }

 /* -- Sevices -- */

  .services {
    padding-top: 50px;
    padding-bottom: 0px;
  }
  .our-advantages {
    .advantage-item {
      margin-bottom: 30px;

      .icon-container {
        width: 100px;
        height: 100px;
      }
      .advantage-name {
        font-size: 21px;
        margin: 15px 0;
      }
      
      .read-more {
        font-size: 14px;
      }
    }
  }

  /* -- Blog -- */

  .blog {
    padding-top: 55px;
    padding-bottom: 55px;
  }

  .posts-wrapper {
    .post {
      flex: 0 1 45%;
      padding-bottom: 15px;
      margin-bottom: 15px;
    }
    .theme {
      font-size: 13px;
      padding: 15px 15px 0;
    }
    h4 {
      font-size: 18px; 
      padding: 0 15px;
    }
    .post-text {
      padding: 0 15px;
    }
  }

  /* -- Contact -- */
  .contact-us {
    padding-top: 70px;
    padding-bottom: 70px;
  }

  .inputs input,
  .textarea textarea {
    padding: 10px;
    font-size: 13px;
  }
  input[type="submit"] {
    font-size: 13px;
  }

  /* Footer */
  .bottom-nav {
    padding: 25px 0;

    .navigation {
      font-size: 13px; 
    }
  }
  .main-footer {
    padding-top: 55px;
    padding-bottom: 55px;
  }
  .addresses {
    flex: 0 1 55%;

    .address-item {
      p {
        font-size: 13px;
        line-height: 21px;
      }
    }
  }
  .social {
    a {
      max-width: 90%;
    }
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  %under-heading {
    font-size: 14px;
    line-height: 20px;
  }
  %under-heading-dashed {
    font-size: 16px;
    line-height: 20px;
  }

  /* Header */
  .introducion {
    background-size: cover;
    padding: 160px 0 70px;

    .welcome {
      font-size: 68px;
      margin-bottom: 70px;
    }

    h4 {
      font-size: 36px;
    }
  }

  section {
    .section-heading {
      font-size: 40px;
    
      &::after {
        left: 47%;
      }
    }
  
  } 

  /* -- About-block --*/

  .about-info {
    p {
      column-gap: 70px; 
    }
  }

  .our-team {
    .member {
      margin-bottom: 10px;
    }
  }

  /* -- Portfolio -- */

  .gallery {
    padding-top: 60px;
  }
  .portfolio-item {
    .category-wrap {
      
      .work-name {
        font: {
          size: 21px;
        
        }
      }
      .work-category {
        font: {
          size: 16px;
        }
      }
      img {
        width: 30px;
      }
    }
  }

  

  /* -- Sevices -- */
  .services {
    padding-bottom: 0px;
  }

  .our-advantages {
    .advantage-item {
      margin-bottom: 50px;

      .icon-container {
        width: 100px;
        height: 100px;
      }

      .advantage-name {
        font: {
          size: 28px;
        }
      }

      .read-more {
        font-size: 16px; 
      }
    }
  }


  /* -- Blog -- */

  .blog {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  .posts-wrapper {
    .post {
      flex: 0 1 44%;
    }
  }

  /* -- Contact -- */
  .contact-us {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  /* Footer */

  .main-footer {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .addresses {
    flex: 0 1 60%;
    .address-item {
      flex: 0 1 29%;
      p {
        font-size: 16px;
      }
    }
  }

 
 

}

@media (min-width: 992px) and(max-width: 1199px) {

  %under-heading {
    font-size: 14px;
    line-height: 20px;
  }
  %under-heading-dashed {
    font-size: 16px;
    line-height: 20px;
  }
  /* Header */
  .introducion {
    background-size: cover;
    padding: 240px 0 170px;
  }

  /* -- About-block --*/

  .about-info {

    p {
      column-gap: 90px;
    }
  }

  .our-team {
    .member {
      flex: 0 1 23%;
    }

    .base-info {
      .name {
        &::before {
          left: -20px;
        }
        &::after {
          right: -20px;
        }
      }
    }

    .more-info {
      padding: 10px;
      text-align: center;
    }
  }

  /* -- Portfolio -- */
  .portfolio-item {
    .category-wrap {
      
      
      .work-name {
        font: {
          size: 24px;
        }
      }
      .work-category {
        font: {
          size: 16px;
        }
      }
    }

  
  }

  /* -- Blog -- */

  .blog {
    padding-bottom: 150px;
  }

  .posts-wrapper {
    .post {
      flex: 0 1 24%;
    }

    .theme {
      padding: 30px 15px 0;
    }
    h4 {
      font: {
        size: 21px;
        }
        padding: 0 15px;
    }
    .post-text {
      padding: 0 15px;
    }
    
  }

}

@media (min-width: 1200px) and (max-width: 1480px) {
  .our-team {
    .member {
      flex: 0 1 23%;
    }
  }
}